<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Glady AutF_AllureParallel" thread-count="1" parallel="methods"
	data-provider-thread-count="1">


	<test name="SeleniumTestCheckIfPossibleCreateOffice365Admin">

		<classes>
			<class name="tests.SeleniumSortingListOfTallestBuildingsTest" />
			</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
